{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "strict": 0,
    "no-unused-expressions": 0,
    "react/sort-comp": "error",
    "react/sort-prop-types": "error",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": true
      }
    ]
  }
}