@import "../../../../styles/config";

.Datepicker-calendar {
  z-index: 1;
}

.Calendar-day.is-current {
  font-weight: 700;
  color: $body-color;
}

.Calendar-day.is-current.is-selected {
  color: #fff;
}
