.SignaturePad {
  position: relative;
  background-color: #f0f5fa;
  width: 500px;
  height: 300px;
}

.SignaturePad canvas {
  position: absolute;
  background-color: transparent;
}

.SignaturePad canvas:active,
.SignaturePad canvas:hover {
  cursor: crosshair;
}

.SignaturePad button {
  z-index: 10;
  position: absolute;
  right: 10px;
  top: 10px;

  border: 1px solid #e6edf5;
  font-size: 12px;
  padding: 4px 8px;
  color: #b9c7d6;
  cursor: pointer;
}

.SignaturePad button:hover {
  filter: brightness(96%);
}

.SignaturePad h1 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #798ca0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}

.SignaturePad span {
  color: #bbc6d0;
  font-size: 16px;
  font-weight: 400;
  display: block;
}
